/spring-petclinic-web/.settings
/spring-petclinic-web/*.classpath
/spring-petclinic-web/.externalToolBuilders/*.launch
/spring-petclinic-web/*.project
/install.log
/spring-petclinic-web/bin/*.gitignore
/spring-petclinic-web/bin

.idea/*
*.iml
*.log