<style type="text/css" th:fragment="style">
	.form-signin {
	  max-width: 330px;
	  padding: 15px;
	  margin: 0 auto;
	}
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
	  margin-bottom: 10px;
	}
	.form-signin .checkbox {
	  font-weight: normal;
	}
	.form-signin .form-control {
	  position: relative;
	  height: auto;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

</style>
<script th:inline="javascript" th:fragment="script">
	/*<![CDATA[*/
	$(function() {
	});
	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><a th:href="@{/}">Home</a></li>
		  		  <li><a th:href="@{/User/ForgetPsw/}">Forget Password</a></li>
				</ol>
			</div>
		</div>
		<form th:action="@{/User/ForgetPsw}" th:method="post" class="form-signin" role="form">			
			<input type="email" class="form-control" placeholder="Email address" name="email" value="" required="required" autofocus="autofocus" /> 
			<button class="btn btn-lg btn-primary btn-block" type="submit">Validate</button>
		</form>
   	</div>
</div>

